{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12 top-div" style="margin-top:40px;"></div>
  </div>

  <div class="text-center">
    <a href="{% url 'new-business' %}" >
        <button class="btn btn-primary float-left" style="height:50px;  margin-top: -6px;">Register Business</button>
    </a>
  </div>

<div class="container-fluid pt-5">
  <div class="row">
    {% for business in businesses %}
    <div class="col-md-3">
    <div class="card p-2" style="height: 320px;width: 25rem;margin-top:10px;">
    <div class="card-title">
        <h5 class="font-weight-bold">{{business.name|truncatechars:19}}</h5>
    </div>
    <div class="card-body">
      <img class="card-img mb-2" src="{{business.logo.url}}" alt="" style="width: 100%;">
      <p><span style="font-weight:bold;">Description:</span> {{business.description|safe}}</p>
      <p><span class="bold">Address:</span> {{business.address}}</p>
      <p><span class="bold">Email:</span> {{business.email}}</p>
    </div>
  </div>
  </div>
  {% endfor %}
  </div>
  </div>
</div>

{% endblock %}