{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="container-fluid"
  style="background: url(https://cdn.pixabay.com/photo/2020/03/18/06/06/street-4942809_960_720.jpg) fixed no-repeat; width: 100%; height: 100vh; background-size: cover;">
  <h1 class="text-white text-center font-weight-bold"
    style="padding-top: 120px;font-family: 'Chelsea Market', cursive;">The Block.</h1>
  <form class="form search_xl m-5" role="search" action="{% url 'search_results'%}">

    <div class="input-group">
      <input type="search" style="height: 60px; border-radius: 5px;"
        class="text-center form-control form-control-lg form-control-borderless" placeholder="Search" name="business">
      <br>
    </div>
    <p class="mt-2 text-center font-weight-bold text-warning">Popular Searches: pizza, mama mboga, baazar, cars,
      home...</p>
  </form>
  <h3 class="text-white text-center font-weight-bolder pt-5 mt-5" style="font-family: 'Nova Slim', cursive;">Welcome to
    the hood where everyone belongs.</h3>
</div>


<section
  style="background-image: url(https://cdn.pixabay.com/photo/2014/12/20/09/18/running-573762_960_720.jpg); background-attachment: fixed; background-repeat: no-repeat; background-size: cover;">
  <div class="row">
    <div class="col-md-12 top-div" style="margin-top:40px;">
      <h3 class="text-center font-weight-bold">Health Services</h3>
      <hr>
    </div>
  </div>

  <div class="row m-5">
    {% for health in healthservices %}
    <div class="col-md-4 mb-5">
      <div class="card p-2" style="width: 25rem;margin-top:10px;">
        <div class="card-title">
          <h5 class="font-weight-bold">{{health.name| title}}</h5>
        </div>
        <div class="body">
          <img class="card-img mb-2" src="{{health.logo.url}}" height=200 width=100>
          <p><span class="bold">Address:</span> {{health.address}} <br> {{health.email}} <br> {{health.contact}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>
</section>

<section
  style="background-image: url(https://cdn.pixabay.com/photo/2017/10/27/10/27/adult-2893847_960_720.jpg); background-attachment: fixed; background-repeat: no-repeat; background-size: cover;">
  <div class="row">
    <div class="col-md-12 top-div" style="margin-top:40px;">
      <h3 style="color:white;text-align:center;">Authorities</h3>
      <hr>
    </div>
  </div>

  <div class="row m-5">
    {% for authority in authorities %}
    <div class="col-md-4  mb-5">
      <div class="card p-2" style="width: 20rem;width: 25rem;margin-top:10px; ">
        <div class="card-title">
          <h5 class="font-weight-bold" data-toggle="modal" data-target="#{{authority.id}}">{{authority.name| title}}</h5>
        </div>
        <div class="card-footer">
          <p>{{authority.address}} <br> {{authority.email}} <br> {{authority.contact}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>
</section>


<section>
  <div class="row m-5">
    <div class="col-md-12 top-div">
      <h3 style="text-align:center;">Businesses</h3><hr>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      {% for business in businesses %}
      <div class="col-md-4">
        <div class="card p-2" style="width: 25rem;margin-top:10px;">
          <div class="card-title">
            <h5 class="font-weight-bold">{{business.name|title}}</h5>
          </div>
          <div class="card-body">
            <img class="card-img mb-2" src="{{business.logo.url}}" alt="" style="height: 200px; width: 100%;">
            <p>{{business.description|safe}} {{business.address}} <br> {{business.contact}} <br> {{business.email}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="col-md-12">
        <div class="text-center mr-5 mt-5">
          <a data-toggle="modal" data-target="#modalSubscriptionForm" style="border-radius: 25px;" class="btn btn-sm btn-info" type="button" name="button" >Add your Business</a>
          <div style='color:black' class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <h4 class="modal-title w-100 font-weight-bold " style="color:black"></h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body mx-3">
                  {{form.media}}

                  {% if form.errors %}
                      <p>Please enter correct value</p>
                  {% endif %}
                  <form class="" method="POST" enctype="multipart/form-data">
                    {%csrf_token%}
                    {%bootstrap_form form%}
                    <div class="modal-footer d-flex justify-content-center">
                      <button type="submit" class="btn btn-info btn-sm text-center" style="border-radius: 25px;">Add<i class="fas fa-paper-plane-o ml-1"></i></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="page-footer font-small text-white blue mt-5" style="background-color: black;">
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://github.com/kelvin-daniel?tab=repositories" class="text-danger"> The Block</a>
  </div>
</footer>


{% endblock %}