{% extends 'base.html' %}
{% block content %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/css/profile.css">
  <link rel="stylesheet" href="../static/css/base.css">

</head>

<div class="container text-dark">
  <div class="row text-center">
    {% if businesses %}
    <h6 class="text-dark font-weight-bold"> Found {{businesses|length}} business related to "{{message}}"</h6>
    <hr>
    {% else %}
    <h6 class="text-dark font-weight-bold"> Found 0 business related to "{{message}}"</h6>
    {% endif %}
  </div>


  {% if businesses %}
  <div class="text-center">
    <div class="panel" style="width: 40rem;">
      <!-- <div class="custom-card-header"> -->
      <div class="panel-body">
        {% for business in businesses %}
      <div class="col-md-4">
        <div class="card p-2" style="width: 25rem;margin-top:10px;">
          <div class="card-title">
            <h5 class="font-weight-bold">{{business.name|title}}</h5>
          </div>
          <div class="card-body">
            <img class="card-img mb-2" src="{{business.logo.url}}" alt="" style="width: 100%;">
            <p><span style="font-weight:bold;">Description:</span> {{business.description|safe}}</p>
            <p><span class="bold">Address:</span> {{business.address}}</p>
            <p><span class="bold">Email:</span> {{business.email}}</p>
          </div>
        </div>
      </div>
      {% endfor %}

      </div>
    </div>
  </div>
    {%endif %}
</div>
<style>
h2{
  color:white;
}

</style>
{% endblock %}