{% extends 'base.html' %}
{% load static %}
{%load bootstrap4%}
{% block content %}

<div class="container">
  <div class="row top">
    <div class="col-md-12"></div>
  </div>

<div class="text-center">
  <div class="user-image">
    <img src="{{profile.avatar.url}}" class="gallery-image" alt=""  width=30 height=30>
  </div>
  
  <p class="text-dark" style="font-size: 22px; font-weight:bold;margin:auto; padding:2px;">{{profile.username}}</p>
  <p class="text-dark">{{profile.neighbourhood}}</p>
  <p class="text-dark" style="font-size:20px;color: black; font-weight:bold;">{{profile.description |safe}}</p>
  <p class="text-dark card-text">{{profile.email}}</p>
  
  <a data-toggle="modal" data-target="#modalSubscriptionForm" style="border-radius: 25px;" class="btn btn-sm btn-info" type="button" name="button" >Update Profile</a>
  <div style='color:black' class="modal fade" id="modalSubscriptionForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold " style="color:black">Update Profile</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          {{form.media}}

          {% if form.errors %}
              <p>Please enter correct value</p>
          {% endif %}
          <form class="" action="{% url 'my-profile' %}" method="POST" enctype="multipart/form-data">
            {%csrf_token%}
            {%bootstrap_form form%}
            <div class="modal-footer d-flex justify-content-center">
              <button type="submit" class="btn btn-info btn-sm" style="border-radius: 25px;">Update <i class="fas fa-paper-plane-o ml-1"></i></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
<style>
.top{
  margin-top: 10px;
}
h5{
  font-size: 30px;
  text-align: center;
}
h6{
  text-align: center;
}
.user-image {
    /* width: calc(25.333% ); */
    border-radius: 50%;
    display: inline-flex;
}
p{
  color: black;
}
.user-image img {
  width: 205px;
  height: 205px;
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}
</style>
{% endblock %}