{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8">
        <h5 class="">{{blog.title}}</h5>
        <a href="/user/{{blog.username}}" style="color:black;text-decoration:none;margin:auto;">
          <h6 class="card-subtitle mb-2 text-muted">{{blog.username}}</h6>
        </a>
        <img class="card-img-top" src="{{blog.image.url}}" >
    
        <div class="">
        <p class="">{{blog.post | safe}}</p>
        </div>
    </div>
    <div class="col-md-4">
      <div class="container">
        <form class="mb-5 pb-5"  action="/view/blog/{{blog.id}}" method="post" enctype="multipart/form-data">
          <h5 class="">Comments</h5>
          {%csrf_token%}
          {% bootstrap_form form%}
          <div class="text-center">
          <input type="submit" class="float-right btn btn-outline-info btn-sm btn-lg" value="Post">
        </div>
        </form>
        {% if comments%}
        <h6 class="text-center">Comments</h6>
          {% for comment in comments %}
          <p>
            <strong>{{comment.username}}</strong> {{comment.comment}}
          </p>
          {% endfor %}
    
        {%else %}
        <h6 class="text-center">No comments yet</h6>
        <hr>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<style>
.top{
  margin-top: 10px;
}
h5{
  font-size: 30px;
  text-align: center;
}
h6{
  text-align: center;
}
label{
  display: none;
}
</style>
{% endblock %}